h1, h2 {
    text-align: center;
}

form {
    display: inline-block;
    text-align: left;
    border: 1px solid black;
    padding: 5px;
}

form > input, form > label {
    display: block;
}

hr {
    margin: 25px 0;
}

#form-wrapper {
    display: block;
    text-align: center;
}

#submit-btn {
    margin-top: 10px;
    display: inline-block;
}

#cancel-btn {
    display: none;
}

.container {
    margin: 10px;
    border: 1px solid black;
    padding: 5px;
}

.delete-btn {
    margin-top: 10px;
}

.name, .age, .eye-color {
    overflow: hidden;
}